.ChanceOfRain {
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
}
.lineCH {
    width: 50px;
    height: 5px;
    border-radius: 15px;
    background-color: red;
}
.block {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
}
.column1 {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: rgb(156, 154, 154);
    font-size: 16px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.column2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
}
.pillar {
    width: 8px;
    background-color: #3e3b7c;
    border-radius: 15px;
    position: relative;
    transition: all 0.5s ease;
    height: 0;
    z-index: 100;
    opacity: 1;
}
.pillarDate {
    position: absolute;
    bottom: -25px;
    left: -3px;
    font-size: 14px;
}
.tracePillar {
    position: absolute;
	bottom: 0;
    margin-bottom: 2px;
    left: 3px;
    border:none;
    border-left: 2px dashed rgb(58 58 58);
    height: 95px;
    width: 0px;
}
.pillarAll {
    opacity: 0;
}
.pillarAllEnter {
    opacity: 0;
    height: 0 !important;
}
.pillarAllEnterActive {
    opacity: 1;
    height: 100%;
    transition: all 0.5s ease;
}